*.o
*.a
*.lo
*.la
*.so
*.obj
*.d
Makefile
Makefile.bak

*~
*.swp
*.swo
\#*\#
.\#*
*.patch

.cache
.vs
.vscode
.flatpak-builder

pgnfix
pgnscid
sc_addmove
sc_eco
sc_epgn
sc_import
sc_remote
sc_spell
sc_tree
scid
scidlet
scidpgn
scidt
scmerge
spf2spi
spliteco
tcscid
build/
Debug
Release
Testing
winpackage

.cmake/
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
build.ninja
cmake_install.cmake
compile_commands.json
install_manifest.txt
_tmp/
CTestTestfile.cmake
